.section-intro {
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-intro-title,
.section-product-title {
    text-align: center;
    color: white;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px 10px;
}


.section-intro-sub-title {
    text-align: center;
    color: white;
    font-size: 52px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 10px;

}

.section-product-sub-title {
    text-align: center;
    font-size: 38px;
}

.section-form {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 12px;
    padding-right: 12px;
}

.loginButton{
    background-color: #4E598C;
    color: white;
    font-size: 22px;
}