.new{
    background-color: #4E598C;
}

.cancel{
    background-color: #E32929;
}

input{
    height: 100%;
}

.rmdp-container{
    width: 100% !important;
}

.delete-img{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 6px;
}